@theme {
  /* Dark grays */
  --color-dark-gray-50: oklch(0.32 0.01 264.695);
  --color-dark-gray-100: oklch(0.31 0.01 264.695);
  --color-dark-gray-200: oklch(0.29 0.01 264.695);
  --color-dark-gray-300: oklch(0.27 0.01 264.695);
  --color-dark-gray-400: oklch(0.25 0.01 264.695);
  --color-dark-gray-500: oklch(0.23 0.01 264.695);
  --color-dark-gray-600: oklch(0.21 0.01 264.695);
  --color-dark-gray-700: oklch(0.19 0.01 264.695);
  --color-dark-gray-800: oklch(0.17 0.01 264.695);
  --color-dark-gray-900: oklch(0.15 0.01 264.695);
  --color-dark-gray-950: oklch(0.14 0.01 264.695);

  --color-medium-gray-50: oklch(0.52 0.01 264.695);
  --color-medium-gray-100: oklch(0.51 0.01 264.695);
  --color-medium-gray-200: oklch(0.49 0.01 264.695);
  --color-medium-gray-300: oklch(0.47 0.01 264.695);
  --color-medium-gray-400: oklch(0.45 0.01 264.695);
  --color-medium-gray-500: oklch(0.43 0.01 264.695);
  --color-medium-gray-600: oklch(0.41 0.01 264.695);
  --color-medium-gray-700: oklch(0.39 0.01 264.695);
  --color-medium-gray-800: oklch(0.37 0.01 264.695);
  --color-medium-gray-900: oklch(0.35 0.01 264.695);
  --color-medium-gray-950: oklch(0.34 0.01 264.695);

  --color-pale-gray-50: oklch(0.72 0.01 264.695);
  --color-pale-gray-100: oklch(0.71 0.01 264.695);
  --color-pale-gray-200: oklch(0.69 0.01 264.695);
  --color-pale-gray-300: oklch(0.67 0.01 264.695);
  --color-pale-gray-400: oklch(0.65 0.01 264.695);
  --color-pale-gray-500: oklch(0.63 0.01 264.695);
  --color-pale-gray-600: oklch(0.61 0.01 264.695);
  --color-pale-gray-700: oklch(0.59 0.01 264.695);
  --color-pale-gray-800: oklch(0.57 0.01 264.695);
  --color-pale-gray-900: oklch(0.55 0.01 264.695);
  --color-pale-gray-950: oklch(0.54 0.01 264.695);

  --color-light-gray-50: oklch(0.99 0.01 264.695);
  --color-light-gray-100: oklch(0.98 0.01 264.695);
  --color-light-gray-200: oklch(0.96 0.01 264.695);
  --color-light-gray-300: oklch(0.94 0.01 264.695);
  --color-light-gray-400: oklch(0.92 0.01 264.695);
  --color-light-gray-500: oklch(0.9 0.01 264.695);
  --color-light-gray-600: oklch(0.88 0.01 264.695);
  --color-light-gray-700: oklch(0.86 0.01 264.695);
  --color-light-gray-800: oklch(0.84 0.01 264.695);
  --color-light-gray-900: oklch(0.82 0.01 264.695);
  --color-light-gray-950: oklch(0.8 0.01 264.695);

  /* Accent and neutrals */
  --color-orange: oklch(0.6658 0.1574 58.32);
  --color-white: oklch(1 0.01 264.695);
  --color-black: oklch(0 0.01 264.695);

  /* Specific */
  --color-accent: var(--color-orange);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-tertiary: var(--fg-tertiary);
  --color-fg-muted: var(--fg-muted);
  --color-fg-subtle: var(--fg-subtle);
  --color-border: var(--border);
  --color-bg-card: var(--bg-card);
  --color-bg-user-chat: var(--bg-user-chat);
  --color-destructive: var(--color-red-500);

  --color-chess-board-dark-square: var(--chess-board-dark-square);
  --color-chess-board-light-square: var(--chess-board-light-square);
  --color-chess-pieces-white: var(--chess-pieces-white);
  --color-chess-pieces-black: var(--chess-pieces-black);

  --color-pill-bg: var(--pill-bg);
  --color-pill-border: var(--pill-border);
}

:root {
  --accent: var(--color-orange);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-light-gray-50);
  --fg-primary: var(--color-pale-gray-500);
  --fg-secondary: var(--color-dark-gray-50);
  --fg-tertiary: color-mix(
    in oklab,
    var(--color-black, oklch(0 0.01 264.695)) 70%,
    transparent
  );
  --fg-muted: var(--color-light-gray-900);
  --fg-subtle: var(--color-light-gray-600);
  --border: var(--color-light-gray-600);
  --bg-card: var(--color-light-gray-200);
  --bg-user-chat: var(--color-light-gray-400);

  --chess-board-dark-square: var(--color-light-gray-300);
  --chess-board-light-square: transparent;
  --chess-pieces-white: var(--color-accent);
  --chess-pieces-black: var(--color-black);

  --pill-border: color-mix(
    in oklab,
    var(--color-fg-primary, var(--fg-primary)) 50%,
    transparent
  );
  --pill-bg: color-mix(
    in oklab,
    var(--color-bg-card, var(--bg-card)) 50%,
    transparent
  );
}

[data-theme="dark"] {
  --accent: var(--color-orange);
  --bg-primary: var(--color-dark-gray-900);
  --bg-secondary: var(--color-dark-gray-950);
  --fg-primary: var(--color-medium-gray-50);
  --fg-secondary: var(--color-white);
  --fg-tertiary: color-mix(
    in oklab,
    var(--color-white, oklch(1 0.01 264.695)) 70%,
    transparent
  );
  --fg-muted: var(--color-medium-gray-900);
  --fg-subtle: var(--color-dark-gray-200);
  --border: var(--color-dark-gray-300);
  --bg-card: var(--color-dark-gray-800);
  --bg-user-chat: var(--color-dark-gray-700);

  --chess-board-dark-square: transparent;
  --chess-board-light-square: var(--color-dark-gray-600);
  --chess-pieces-white: var(--color-white);
  --chess-pieces-black: var(--color-accent);

  --pill-border: color-mix(
    in oklab,
    var(--color-fg-primary, var(--fg-primary)) 50%,
    transparent
  );
  --pill-bg: var(--color-bg-card);
}
