@layer base {
  html {
    @apply [--content-padding-x:0] 
      [--header-height:3.5rem]
      md:[--header-height:4.5rem] 
      lg:[--header-height:5rem]
      xl:[--content-padding-x:10.5rem];
  }
}
